@{
  Layout = "_Layout";
}
<div class="well">
  <h1>Coins in this Collection</h1>
</div>


<ul>
@foreach (var coin in @Model["collection"])
{

      <li id="coin-list">@coin.GetName()</li>
      <li>@coin.GetValue()</li>
      <li>@coin.GetYear()</li>
      <li>@coin.GetCategoryId()</li>

}
</ul>

<p><a href='/categories/@Model["category"].GetId()/collection/new'><button class="btn btn-default">Add a New Coin</button></a></p>
<p><a href='/'><button class="btn btn-default">Home</button></a></p>
